@charset "UTF-8";
/* Définition des variables CSS personnalisées */
:root {
  --rotate: 15s;
  --posX: O;
}

#nomination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#studio h2::after {
  content: url("./assets/images/flower.png");
  position: absolute;
  right: 1em;
  top: 1.2em;
}

.story__article::after,
.story h1::after,
#studio h2::before,
#studio h2::after,
figure > .flower,
.site-footer ul::after {
  animation: rotate-flower var(--rotate) linear infinite;
}

.story h2::after {
  position: absolute;
  left: 0.9em;
  top: 8em;
}

@keyframes rotate-flower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.swiper-container h3.nomination span#title {
  position: relative;
  z-index: index -10;
}

.nomination,
h3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: lowercase;
}

.site-footer::after,
.site-footer::before {
  display: none;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.banner .scroll-container {
  position: sticky;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, calc(-50% + 10px));
}

.banner .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner .video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story #place {
  min-height: 695px !important;
  background-size: cover;
}

.banner img {
  width: 100% !important;
}

.bannerlogo {
  position: relative;
  left: 50%;
  filter: drop-shadow(0px 1.21px 0px #FFE600);
  width: 91%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: floatEffect 3s infinite ease-in-out;
}

.story > h1 span {
  position: absolute;
  color: #FFF5E9;
}

h1 {
  color: #FFF5E9;
  font-size: 4.429rem;
  text-align: center;
}

.story h1::before {
  content: url("./assets/images/sunflower_leaves.png");
  position: absolute;
  left: 0;
  top: 1.8em;
  z-index: -1;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.story > h1 {
  color: transparent;
}

.story h1::after {
  content: url("./assets/images/Sunflower.png");
  position: absolute;
  left: 41px;
  top: 27rem;
}

h1 {
  color: #FFF5E9;
  font-size: 5rem !important;
  background-image: url("./assets/images/purple_title_bg.png");
  background-color: #FFF5E9;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1em 2em;
  margin: 12px 12px 12px 12px;
  background-position: center;
  text-align: center;
  right: 50%;
}

.story {
  margin-top: 5%;
}

@keyframes floatEffect {
  0%, 100% {
    transform: translate(-50%, calc(50% - 10px));
  }
  50% {
    transform: translate(-50%, calc(50% + 10px));
  }
}
.story #place {
  position: relative;
  background-image: url("./assets/images/Studio_Koukaki-image_place.png");
  z-index: -1;
}

#place .place--big_cloud,
#place .place--little_cloud {
  position: absolute;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  z-index: 2;
}

.move-cloud {
  animation: moveCloud 10s infinite alternate;
}

@keyframes moveCloud {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300px);
  }
}
#place .place--big_cloud {
  height: 122px;
  top: 70px;
  right: 90px;
  transform: translateX(0);
}

#place .place--little_cloud {
  height: 55px;
  top: 250px;
  right: 500px;
  transform: translateX(0);
}

.main-navigation.toggled ul {
  display: flex !important;
}

#site-navigation {
  position: relative;
}

.modal__burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 8px;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  right: 3em;
  cursor: pointer;
}

.modal__burger .line {
  height: 2px;
  background-color: #000;
  display: block;
  width: 100%;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.modal__burger.close .line:nth-child(2) {
  opacity: 0;
}

.modal__burger.close .line:first-child {
  transform: rotate(45deg) translate3d(8px, 6px, 0);
}

.modal__burger.close span.line:last-child {
  transform: rotate(-45deg) translate3d(8px, -6px, 0);
}

.modal {
  font-family: "Roboto Mono", monospace;
  font-size: 0.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.modal h2,
.modal li > a {
  font-size: 3.1rem;
}

.modal .modal__content {
  position: relative;
  width: 100%;
  height: 91vh;
  background: #FFF5E9;
  font-size: 3em;
  display: none;
}

.modal__content--logo {
  margin: 40px;
  width: 154px;
  filter: drop-shadow(0px 0px 10px rgba(255, 92, 0, 0.6));
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 92, 0, 0.6));
  -moz-filter: drop-shadow(0px 0px 10px rgba(255, 92, 0, 0.6));
}

.modal__content ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  gap: 1em;
}

.modal__content li > a:hover {
  filter: drop-shadow(0px 0px 5px #ff5c00);
  -webkit-filter: drop-shadow(0px 0px 5px #ff5c00);
  -moz-filter: drop-shadow(0px 0px 5px #ff5c00);
}

.modal__content--footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.nomination {
  overflow: hidden;
}

#title {
  position: relative;
  opacity: 0;
  z-index: 0;
}

#characters:hover span,
.nomination:hover span #title,
section:hover,
#title:hover,
.nomination:hover #title,
.story:hover #title,
.studio:hover #title {
  animation: openclose 1s linear forwards;
}

section,
article {
  display: inline;
}

@keyframes openclose {
  0% {
    bottom: -10rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
.flower1 {
  position: relative;
  left: 6%;
  top: 6rem;
}

.story #characters {
  position: relative;
  z-index: 0;
  left: 50%;
  width: 1800px;
}

.story #characters div {
  right: 23%;
  bottom: 5px;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 640px;
  opacity: 1;
  margin-bottom: 7em;
  overflow: hidden;
}

.swiper-slide figure {
  display: inline-block;
  width: 100%;
  height: 300px;
  position: relative;
  object-fit: contain;
}

.story #characters div {
  flex: none !important;
}

.story #characters h3 {
  position: relative;
  color: #FFF5E9;
  opacity: 1;
  z-index: 9999;
  width: fit-content;
  bottom: 2%;
}

#studio h2::before {
  content: url("./assets/images/random_flower.png");
  position: absolute;
  left: -0.1em;
}

@media (max-width: 700px) {
  .story h1::after,
  #nomination h3 {
    font-weight: 700;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: -0.02em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .story h1::after {
    content: url("./assets/images/Sunflower.png");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-navigation {
    height: 80px;
  }
  .main-navigation ul {
    display: flex !important;
  }
  .modal__content--story::before,
  .modal__content--place::before,
  .modal__content--footer::before {
    content: "";
  }
  .banner {
    min-height: 600px !important;
    height: 600px !important;
  }
  #characters {
    height: fit-content;
    display: none;
  }
  .banner .video-background,
  .video-background {
    opacity: 0;
  }
  .video-background {
    opacity: 1;
    min-width: 1200px !important;
  }
  .banner img {
    width: 100%;
  }
  #nomination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nomination h3,
  h2,
  #studio h2::before {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
  #studio > div::before {
    transform: rotate(90deg);
  }
  #studio > div::before,
  #studio h2::after,
  #studio h2::before {
    display: none;
  }
  #place .place--big_cloud {
    height: 50px;
    top: 78px;
    right: 90px;
    transform: translateX(0);
  }
}
@media (max-width: 480px) {
  .swiper-container,
  #characters {
    height: fit-content;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  #place .place--big_cloud {
    height: 50px;
    top: 78px;
    right: 90px;
    transform: translateX(0);
  }
  .nomination,
  .nomination h3,
  .nomination .title,
  h3:not(.story .nomination h1) {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .nomination h3 h3:not(.story .nomination h1) {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: contain;
    transform: scale(1);
    line-height: 1;
    font-size: larger;
  }
  .flower,
  #studio h2::before {
    width: 4rem;
    top: 3em;
  }
  #studio > div::before,
  #studio h2::after,
  #studio h2::before {
    display: none;
  }
}
.story #characters h3 {
  margin-left: 12%;
}

.story #place {
  min-height: 1247px;
  background-size: cover;
}

.story > h1 span {
  position: absolute;
  color: #FFF5E9;
}

h1 {
  color: #FFF5E9;
  font-size: 4.429rem;
  text-align: center;
}

.story h1::before {
  content: url("../images/sunflower_leaves.png");
  position: absolute;
  left: 0;
  top: 1.8em;
  z-index: -1;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.story > h1 {
  color: transparent;
}

.story h1::after {
  content: url("../images/Sunflower.png");
  position: absolute;
  left: 41px;
  top: 27rem;
}

h1 {
  color: #FFF5E9;
  font-size: 5rem !important;
  background-image: url("../images/purple_title_bg.png");
  background-color: #FFF5E9;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1em 2em;
  margin: 12px 12px 12px 12px;
  background-position: center;
  text-align: center;
  right: 50%;
}

.story {
  margin-top: 5%;
}

.story #place {
  position: relative;
  background-image: url("../images/Studio_Koukaki-image_place.png");
  z-index: -1;
}

#studio > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66.66%;
  margin: auto;
  position: relative;
}

#studio > div::before {
  content: url("../images/trple-leaf.png");
  top: -15%;
}

#studio h2::before {
  content: url("../images/random_flower.png");
  position: absolute;
  left: -1em;
  top: 0;
}

#nomination .nomination {
  background-image: url("../images/oscars-2021.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 6em;
}

.story > h1 span {
  position: absolute;
  color: #FFF5E9;
}

h1 {
  color: #FFF5E9;
  font-size: 4.429rem;
  text-align: center;
}

.story h1::before {
  content: url("../images/sunflower_leaves.png");
  position: absolute;
  left: 0;
  top: 1.8em;
  z-index: -1;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.story > h1 {
  color: transparent;
}

.story h1::after {
  content: url("../images/Sunflower.png");
  position: absolute;
  left: 41px;
  top: 27rem;
}

h1 {
  color: #FFF5E9;
  font-size: 5rem !important;
  background-image: url("../images/purple_title_bg.png");
  background-color: #FFF5E9;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1em 2em;
  margin: 12px 12px 12px 12px;
  background-position: center;
  text-align: center;
  right: 50%;
}

.story {
  margin-top: 5%;
}

.story #place {
  position: relative;
  background-image: url("../images/Studio_Koukaki-image_place.png");
  z-index: -1;
}

#studio > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66.66%;
  margin: auto;
  position: relative;
}

#studio > div::before {
  content: url("../images/trple-leaf.png");
  top: -15%;
}

#studio h2::before {
  content: url("../images/random_flower.png");
  position: absolute;
  left: -1em;
  top: 0;
}

#studio h2::after {
  content: url("../images/flower.png");
  right: -20em;
}

@media (max-width: 700px) {
  .story h1::after {
    left: 34%;
    top: 26%;
  }
}
@media (min-width: 320px) and (max-width: 490px) {
  .story h1::after {
    left: 25%;
    top: 33%;
  }
}
.story h1::after .site-footer ul::after {
  background-size: contain;
  transform: scale(0.5);
}
.story h1::after .site-footer {
  padding-top: 9em;
}
@media (min-width: 700px) and (max-width: 1016px) {
  .story h1::after {
    left: 38%;
    top: 7em;
  }
}

@media (min-width: 700px) and (max-width: 1016px) {
  .nomination,
  h3 {
    font-weight: 700;
    font-size: 27px;
    line-height: 38px;
    letter-spacing: -0.02em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: lowercase;
  }
  #studio > div::before {
    display: none;
  }
  #studio h2::after {
    display: none !important;
  }
  .site-footer ul::after {
    background-size: contain;
    transform: scale(0.5);
  }
}
@media (min-width: 320px) and (max-width: 460px) {
  .nomination h3,
  h3:not(.story .nomination h1) {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: contain;
    transform: scale(1.6);
    line-height: 1 !important;
    font-size: medium !important;
    line-height: 1;
  }
  .story #place h3 {
    left: 3em !important;
  }
}
